root = true

# Unix-style line endings
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
tab_width = 8

[*.{c,h}]
indent_style = tab

[*.{vert,frag,comp}]
indent_style = tab

[*.json]
indent_style = tab

[{Makefile,*.mk}]
indent_style = tab
